<!DOCTYPE html>
<html lang="en" class="d-flex flex-column min-vh-100 center">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <%- include('../partials/navbar'); %>
    <div>
        <div class="row gx-0">
            <div class="col-sm-12 col-md-6 text-center center order-1 order-md-0">
                <div class="row my-5 my-md-0">
                    <h1 class="display-1 heading-psf fw-bold">ParkSafe<br>
                        <p class="h2 fw-bold">
                            Parking Made <span id="tagLine"></span>

                        </p>
                    </h1>
                    <div class="row my-2 my-md-0 p-3 order-md-1 px-4 px-md-0">
                        <div class="col-6 display-6 text-end">
                            <button class="p-3 rounded-3 text-dark btn-psf" onclick="location.href='/user/rs/<%= user.email %>'">Rent Space</button>
                        </div>
                        <div class="col-6 display-6 text-start">
                            <button class="p-3 rounded-3 text-dark btn-psf" onclick="location.href='/user/pv/<%= user.email %>'">Park Vehicle</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/img/car.svg" class="img-fluid">
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
    <script>
 new TypeIt('#tagLine', {
   strings: ['Easy...', 'Simple...','Fun...','Safe...'],
   breakLines: false,
   loop: true
}).go()
    </script>

</body>
</html>