<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/css/parkvehicle.css" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
</head>

<body>

    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>

    <div class="container-fluid">
        <div class="row">
            <!-- start of left column -->
            <div class="col-12 col-md-4">
                <div class="p-1"></div>
                <h1 class="display-3 text-center my-5 mt-md-3 heading-pvh fw-normal"><a href="/">Park Vehicle</a></h1>
                <!-- start of saved vehicles list -->
                <div class="row text-center" id="allVehicles">
                    <div class="col-6 col-md-4">
                        <button class="button-cstm rounded-3 p-2 mt-3 h5" data-bs-toggle="modal" data-bs-target="#car_info_formmodal"><img src="/img/icons/plus.png"><br> Add Vehicle</button>
                    </div>
                </div>
                <!-- end of save vehicles list -->
                <!-- start of Vehicles Parked -->
                <!-- <div class="p-5"></div> -->
                <div class="row py-5">
                    <h5 class="py-2 heading-pvh h5">Vehicles Parked</h5>
                    <!-- start of parked vehiles -->
                    <div>
                        <!-- start of a card -->
                        <div class="container-fluid card-vehiclepark p-2 curve my-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="p-3">
                                        <p class="h5 m-2 fw-bolder py-1">DL 07DS 4389</p>
                                        <p class="h5 m-2 fw-bolder">Rs 50/Hr</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="p-2">
                                        <button class="button-cstm fw-bolder h5 p-3" style="float: right;">CheckOut</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of a card -->
                        <!-- start of a card -->
                        <div class="container-fluid card-vehiclepark p-2 curve my-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="p-3">
                                        <p class="h5 M-2 fw-bolder py-1">DL 07DS 4389</p>
                                        <p class="h5 M-2 fw-bolder">Rs 50/Hr</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="p-2">
                                        <button class="button-cstm fw-bolder h5 p-3" style="float: right;">CheckOut</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of a card -->
                        
                    </div>
                    <!-- end of parked vechiles -->
                </div>
                <!-- end of vehicles parked -->
                </div>
                <!-- end of left column -->
                <!-- start of right column -->
                
                <div id="map" style="height: 100%;" class="rounded-map col-12 col-md-8"></div>
        </div>
    </div>
    <!-- form for adding vehicle -->
      
      <!-- Modal -->
      <div class="modal fade rounded-5 " id="car_info_formmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content modal-style">
            <div class="modal-header text-center">
              <h5 class="modal-title " id="exampleModalLabel">Add Vehicle</h5>
              <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- form -->
              <form class="container-fluid" action="/user/addVehicle/<%= user.email %>" method="get" >
                <!-- dropdown for vehicle type -->
                <div class="row my-3">
                    <div class="col">
                        <select name="vehicleType" class="form-select form-style" aria-label="Default select vehicle_Type" required>
                            <option selected>Select Vehicle Type</option>
                            <option value="2">Two Wheeler</option>
                            <option value="3">Three Wheeler</option>
                            <option value="4">Four Wheeler</option>
                          </select>
                    </div>
                </div>
                <!-- file upload rc -->
                <!-- <div class="row my-3">
                    <div class="col-4 fs-5">
                        <label for="uploadRC">Upload RC </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control form-style" type="file" id="uploadRC" >
                    </div>
                </div> -->
                <!-- file upload Vehicles -->
                <!-- <div class="row  my-3">
                    <div class="col-4 col-md-5 fs-5">
                        <label for="uploadVehicleimg">Vehicle Photos</label>
                    </div>
                    <div class="col-8 col-md-7">
                        <input class="form-control form-style" type="file" id="uploadVehicleimg">
                    </div>
                </div> -->
                <div class="row my-3">
                    <div class="col">
                        <label class="fs-5" for="vehicleNumber">Vehicle Number</label>
                        <input class="form-control form-style" name="vehiclenumber" id="vehicleNumber" type="text" placeholder="Eg-DL 07DS 4391" aria-label="default input" required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label class="fs-5" for="vehicle_color">Vehicle Color</label>
                        <input class="form-control form-style" name="vehiclecolour" id="vehicle_color" type="text" placeholder="Eg- Black" aria-label="default input" required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label class="fs-5" for="manuf_year">Manufacture Year</label>
                        <input class="form-control form-style" name="manufactureyear" id="manuf_year" type="text" placeholder="2008" aria-label="default input" required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label class="fs-5" for="address_owner">Address</label>
                        <textarea class="form-control form-style" name="address" aria-label="Address" id="address_owner" placeholder="House No., Street/Building Name, Landmark, State, Zip-Code" required></textarea>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label class="fs-5" for="owner_instruct">Add Instructions</label>
                        <textarea class="form-control form-style" name="instructions" id="owner_instruct" type="text" placeholder="" aria-label="default input"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning text-dark fw-bolder">Submit</button>
           
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <footer>
        <!-- <%- include('../partials/footer'); %> -->
    </footer>
    <script src="/js/mapinit.js"></script>
    <script>
        const userId='<%= (user && user._id)?user._id:null %>'
        console.log("script user id ",userId)
        function getVehicle(){
            console.log("executing getVehicle")
            let url='/user/getVehicle/'
            url+='<%= user.email %>'
            console.log(url)
            fetch(url,{
                method: 'POST',
                credentials:'same-origin',
                headers:{
                    'Accept':'application.json, text/plain, */*',
                    'Content-Type':'application/json',
                },
                body:JSON.stringify({userId})
            }).then(res => res.json()).then(data=>{
                if(data===false){
                    alert(data.message)
                    return
                }
                console.log('data we get back',data.vehicles,'\n and',data.vehicleCount)
                let vehicleInnerHTML=""
                if(data.vehicleCount===0){
                    vehicleInnerHTML='No Vehicles Found'
                }
                for(let i=0;i<data.vehicleCount;i++){
                    const veh=data.vehicles[i]
                    console.log("type : ",data.vehicleType)
                    if(veh.vehicleType=='2'){
                        console.log("two wheeler")
                        logo="ðŸï¸"
                    }
                    else{
                        logo="ðŸš˜"
                    }
                    const vehicle=`
                    <div class="col-6 col-md-4">
                        <button class="button-cstm rounded-3 p-2 mt-3 h5">${logo}<br>${veh.vehiclenumber}</button>
                    </div>
                    `
                    vehicleInnerHTML+=vehicle
                }
                let vehiclesTag=document.getElementById('allVehicles')
                vehiclesTag.innerHTML+=vehicleInnerHTML
            })
            
        }
        getVehicle()
    </script>
</body>

</html>